<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- FILTER -->
    <filter>
        <filter-name>NotLoggedFilter</filter-name>
        <filter-class>com.amazoff.filters.NotLoggedFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NotLoggedFilter</filter-name>
        <url-pattern>/sellNewProduct.jsp</url-pattern>
        <url-pattern>/profilePage.jsp</url-pattern>
        <url-pattern>/userPage.jsp</url-pattern>
        <url-pattern>/createShop_1.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>IndexPageFilter</filter-name>
        <filter-class>com.amazoff.filters.IndexPageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IndexPageFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <!-- SERVLET -->
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFindProduct</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletFindProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddProduct</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletAddProduct</servlet-class>
        <init-param>
            <param-name>
                uploadDir
            </param-name>
            <param-value>
                /UploadedImages
            </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletPopulateProductPage</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletPopulateProductPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIndexProducts</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletIndexProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjax</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjaxUsername</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletAjaxUsername</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/ServletRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFindProduct</servlet-name>
        <url-pattern>/ServletFindProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddProduct</servlet-name>
        <url-pattern>/ServletAddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPopulateProductPage</servlet-name>
        <url-pattern>/ServletPopulateProductPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIndexProducts</servlet-name>
        <url-pattern>/ServletIndexProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjax</servlet-name>
        <url-pattern>/ServletAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjaxUsername</servlet-name>
        <url-pattern>/ServletAjaxUsername</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
