<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- FILTER -->
    <filter>
        <filter-name>NotLoggedFilter</filter-name>
        <filter-class>com.amazoff.filters.NotLoggedFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NotLoggedFilter</filter-name>
        <url-pattern>/sellNewProduct.jsp</url-pattern>
        <url-pattern>/profilePage.jsp</url-pattern>
        <url-pattern>/userPage.jsp</url-pattern>
        <url-pattern>/createShop_1.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>IndexPageFilter</filter-name>
        <filter-class>com.amazoff.filters.IndexPageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IndexPageFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <!-- SERVLET -->
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegisterShop</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletRegisterShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateCredentials</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletUpdateCredentials</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFindProduct</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletFindProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddProduct</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletAddProduct</servlet-class>
        <init-param>
            <param-name>
                uploadDir
            </param-name>
            <param-value>
                /UploadedImages
            </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletPopulateProductPage</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletPopulateProductPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIndexProducts</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletIndexProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddToCart</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletAddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjax</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjaxCarrello</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletAjaxCarrello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDopoRegistrazione</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletDopoRegistrazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjaxNotifiche</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletAjaxNotifiche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPayPage</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletPayPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConfirmOrder</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletConfirmOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjaxPayPage</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletAjaxPayPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjaxPayPageCard</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletAjaxPayPageCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjaxAutocomplete</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletAjaxAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjaxEmailExists</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletAjaxEmailExists</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRecuperoPassword</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletRecuperoPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowCart</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletShowCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowShopOnMap</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletShowShopOnMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerlvetAjaxGetNotifications</servlet-name>
        <servlet-class>com.amazoff.servlet.SerlvetAjaxGetNotifications</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjaxUpdateProductQuantity</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletAjaxUpdateProductQuantity</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegisterShop</servlet-name>
        <url-pattern>/ServletRegisterShop</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/ServletRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFindProduct</servlet-name>
        <url-pattern>/ServletFindProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddProduct</servlet-name>
        <url-pattern>/ServletAddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPopulateProductPage</servlet-name>
        <url-pattern>/ServletPopulateProductPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIndexProducts</servlet-name>
        <url-pattern>/ServletIndexProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddToCart</servlet-name>
        <url-pattern>/ServletAddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjax</servlet-name>
        <url-pattern>/ServletAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjaxCarrello</servlet-name>
        <url-pattern>/ServletAjaxCarrello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDopoRegistrazione</servlet-name>
        <url-pattern>/ServletDopoRegistrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjaxNotifiche</servlet-name>
        <url-pattern>/ServletAjaxNotifiche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPayPage</servlet-name>
        <url-pattern>/ServletPayPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConfirmOrder</servlet-name>
        <url-pattern>/ServletConfirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjaxPayPage</servlet-name>
        <url-pattern>/ServletAjaxPayPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjaxAutocomplete</servlet-name>
        <url-pattern>/ServletAjaxAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjaxPayPageCard</servlet-name>
        <url-pattern>/ServletAjaxPayPageCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjaxEmailExists</servlet-name>
        <url-pattern>/ServletAjaxEmailExists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRecuperoPassword</servlet-name>
        <url-pattern>/ServletRecuperoPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowCart</servlet-name>
        <url-pattern>/ServletShowCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowShopOnMap</servlet-name>
        <url-pattern>/ServletShowShopOnMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateCredentials</servlet-name>
        <url-pattern>/ServletUpdateCredentials</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerlvetAjaxGetNotifications</servlet-name>
        <url-pattern>/SerlvetAjaxGetNotifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjaxUpdateProductQuantity</servlet-name>
        <url-pattern>/ServletAjaxUpdateProductQuantity</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
