<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFindProduct</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletFindProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/ServletRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>com.amazoff.servlet.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFindProduct</servlet-name>
        <url-pattern>/ServletFindProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
